body {
    background-color: red;
}

h1 {
    color: white;
    text-align: left;
}

p {
    color: red;
    text-align: center;
}

form {
    padding: 20px;
    background-color: #f9f9f9;
}

label {
    font-weight:bold;
}

input[type="text"] {
    margin: 2px 0;
    padding: 5px;
    border: 1px solid #ff0000;
}